<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enterprises
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/createEnterprises">Create</a>
                    <a class="dropdown-item" routerLink="/editEnterprises">Edit</a>
                    <a class="dropdown-item" routerLink="/enterprises">List</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departments
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/createDepartments">Create</a>
                    <a class="dropdown-item" routerLink="/editDepartments">Edit</a>
                    <a class="dropdown-item" routerLink="/departments">List</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employees
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/createEmployees">Create</a>
                    <a class="dropdown-item" routerLink="/editEmployees">Edit</a>
                    <a class="dropdown-item" routerLink="/employees">List</a>

                </div>
            </li>

        </ul>

    </div>
</nav>