<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">


    <div class="row">

        <div class=" container text-center">
            <h1>CREATE ENTERPRISE</h1>
        </div>

    </div>

    <hr/>

    <div class="mt-2">

        <div class="form-group row">
            <label class="col-2 col-form-label">Created by</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Created by" formControlName="createdBy">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Address</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Address" formControlName="address">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="name" formControlName="name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Phone</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="phone" formControlName="phone">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
            Save
          </button>
            </div>
        </div>

    </div>

</form>